OPENAI_API_KEY = "sk-..."
OPENAI_MODEL = "gpt-4"

NEO4J_URI = "bolt://"
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = ""
NEO4J_DATABASE = "neo4j"

# LangSmith Tracing (optional)
# LANGCHAIN_TRACING_V2 = "true"
# LANGCHAIN_API_KEY = "ls-..."
# LANGCHAIN_PROJECT = "llm-chatbot-python"